/**
 * @file
 * Style rules for the Step by step navigation and Prev/Next links.
 */
.node--step_by_step_page section,
.node--step_by_step_overview section {
  margin-bottom: 0;
  padding-bottom: 1rem;
}
.node--step_by_step_page .key-under,
.node--step_by_step_overview .key-under {
  margin-bottom: 1.4rem;
}

ul.step-list {
  margin: 0 0 2.5rem 0;
  padding: 0;
  list-style-type: none;
}
ul.step-list li {
  display: inline-block;
  margin-bottom: 0;
}
ul.step-list li:first-child {
  margin-right: 1rem;
}
ul.step-list li .btn {
  margin: 0;
}

.step-by-step-pages__relationship {
  width: 100%;
  margin-bottom: 2.5rem;
  padding: 1rem;
  border-left: 0.3125rem solid #551a8b;
  background: #ededed;
}

.step-by-step-pages__relationship .step-by-step-pages__part-of {
  color: #551a8b;
  font-size: 19px;
  font-weight: bold;
}
.step-by-step-pages__relationship .step-by-step-pages__overview {
  color: #121212;
  font-size: 19px;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .step-by-step-pages__relationship .step-by-step-pages__overview {
    font-size: 22px;
  }
}
.step-by-step-pages__relationship .step-by-step-pages__overview a {
  text-decoration: underline;
  color: #121212;
  font-weight: 700 !important;
}

.step-by-step-pages .step-by-step-pages__relationship {
  display: block;
}
.step-by-step-pages .step-master,
.step-by-step-pages ol.step-list .step .step__title .step-show {
  text-decoration: underline;
  color: #0059a4;
  border: none;
  background: none;
  font-size: 16px;
  font-weight: 400;
}
.step-by-step-pages ol.step-list .step .step__title .step-show {
  color: #121212;
  font-size: 0.875rem;
}
.step-by-step-pages .step-master:focus,
.step-by-step-pages .step-master:hover,
.step-by-step-pages .step-master:active,
.step-by-step-pages ol.step-list .step .step__title .step-show:focus,
.step-by-step-pages ol.step-list .step .step__title .step-show:hover,
.step-by-step-pages ol.step-list .step .step__title .step-show:active {
  text-decoration: none;
  color: #121212;
  background-color: #fb0;
  box-shadow: 0 0 0 0.125rem #fb0;
}
.step-by-step-pages ol.step-list {
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 1.5rem 1.5rem 0 0;
  list-style-type: none;
  counter-reset: section;
}
.step-by-step-pages ol.step-list .step {
  position: relative;
  display: inline-block;
  width: 100%;
}
.step-by-step-pages ol.step-list .step::before {
  position: absolute;
  z-index: 10;
  top: 0.75rem;
  width: 1.75rem;
  height: 1.75rem;
  content: counter(section);
  counter-increment: section;
  text-align: center;
  color: #121212;
  border: 2px solid #dbdfe3;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: #fff;
  font-weight: 800;
  line-height: 1.55rem;
}
.step-by-step-pages ol.step-list .step:not(:last-of-type)::after {
  position: absolute;
  top: 2.4rem;
  left: 0.8438rem;
  width: 0.0625rem;
  height: calc(100% - 1rem);
  content: "";
  transition: all 0.4s;
  color: #121212;
  border: 1px solid #dbdfe3;
  background-color: #fff;
}
.step-by-step-pages ol.step-list .step .step__title {
  display: block;
  margin: 0 0 0 2.5rem;
  padding: 0.6rem 0 0.8rem 0;
  cursor: pointer;
  color: #121212;
  font-size: 1.25rem;
  font-weight: bold;
}
.step-by-step-pages ol.step-list .step .step__title a {
  display: block;
  color: #121212;
}
.step-by-step-pages ol.step-list .step .step__summary p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.step-by-step-pages ol.step-list .step.step--active::before {
  color: #fff;
  border: 2px solid #551a8b;
  background-color: #551a8b;
}
.step-by-step-pages ol.step-list .step.step--active:not(:last-of-type)::after {
  border: 1px solid #551a8b;
}
.step-by-step-pages ol.step-list .step.step--active .step__title {
  color: #551a8b;
}
.step-by-step-pages ol.step-list .step.step--active .step__title a {
  color: #551a8b;
}
.step-by-step-pages ol.step-list .step:not(:first-child) .step__title {
  border-top: solid 1px #dbdfe3;
}
.step-by-step-pages ol.step-list .step .step__summary {
  display: none;
  padding-bottom: 15px;
  padding-left: 2.4rem;
}
.step-by-step-pages ol.step-list .step .step__summary a {
  text-decoration: underline;
  color: #551a8b;
}
.step-by-step-pages ol.step-list .step .step__summary.step-show-summary {
  display: block;
}
